@media screen and (min-width: 1000px){
     .wrapper{
        text-align: left;
        margin: 70px 0 0 50px ;
     }
     body{
        background-image: url(/images/test-landing.png);
        background-size:cover;  
        height:70%;   
     } 
     
     h1{
        font-size: 4rem;
     }
     .frontpage_wrapper{
        margin-top: 300px;
     }
     .card-holder-section{
        display:flex;
        justify-content: space-around;    
     }
     .media-bar{
        margin: 10px auto ;    
     }
     .card{
        margin-top: auto;
        text-align: center;
     }
     footer{
      display: none;
     }

}


