@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); 

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
img{
    max-inline-size: 100%;
    block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/ 
}
:root{
    --red:hsl(10, 86%, 49%);
    --black:hsl(0, 0%, 12%);
    --grey:hsl(0, 0%, 38%);
    --darkgrey:hsl(0, 0%, 24%);
    --white:hsl(0, 0%, 100%);
    --green:rgb(7, 181, 39);
    --blue:rgb(29, 14, 126);
    --lightblue:rgb(0, 213, 255);
    --coldblue:rgb(11, 1, 49);
}
/*LANDING PAGE STYLING STARTS HERE*/
.wrapper{
    margin: auto;
    text-align: center;
}
.card-holder-section{
    display: inline-block; 
    margin-top: 50px;  
}
.card-holder-section a{
    text-decoration: none;
}
.card{
    background: var(--white);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    border-radius: 10px 10px 0 0;
    width: 250px;
    height: 100px;
    transition: all 0.5s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.card p {
    margin-top: 30px;
    font-size: 25px;
    color:var(--grey);
    text-transform:capitalize;
}
.contact-card-info p{
    color:var(--red);
}
.line{
    height: 7px;
    border-radius: 10px 10px 0 0;
}
.red-line{
    background-color: var(--red);
}
.grey-line{
    background-color: var(--grey);
}
.green-line{
    background-color: var(--green);
}
.blue-line{
    background-color: var(--blue);
}
.black-line{
    background-color: var(--black);
}
.lightblue-line{
    background-color: var(--lightblue);
}
.card{
    margin-top: 30px;
}
/*Landing page MEDIA DESKTOP styling*/
@media screen and (min-width: 1200px){
        .wrapper{
        text-align: left;
        margin: 70px 0 0 50px ;
    }
        .hero-image{
        margin-top: 50px;
    }
        .lady-image{
        position:relative;
    }
        .card-holder-section{
        display:flex;
        justify-content: space-evenly;    
    }
        .card{
        margin-top: auto;
        text-align: center;     
    }
    footer{
        text-align: center;
        height: 50px;
        padding: 15px;
        background: var(--grey);
        color:var(--white);    
    }
    .about-wrapper{
        margin-top: 300px;
    }
    .history-text{
        margin-top: 0;
    }
}
/*LANDING PAGE STYLING ENDS HERE*/

/*NAVIGATION STYLING STARTS HERE*/ 
/*ABOUT,TEAM,PHILOSOPHY,MISSION,VSION PAGES*/
.head{
    display: flex;
    justify-content: end;
    background: var(--red);
    padding: 10px;
}
.top-nav{
    background: var(--white);
    border-radius: 5px;   
}
.nav-link{
    background: var(--white);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    width: 250px;
    height: 100px;
    transition: all 0.5s ease-in-out;
    margin: -50px 0 0 20px;
    text-align: center;
    padding: 5px;
}
.nav-link:hover{
    transform: scale(1.05);
}
.nav-link p {
    margin-top: 30px;
    font-size: 25px;
    color:var(--grey);
    text-transform:capitalize;
}
.nav-link a{
    text-decoration: none;
}
.philosophy-text{
    padding:0 200px;
    text-align: justify;
    margin-top: 100px;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px){
    .nav-link{
        margin-top: 10px;
    }
    .philosophy-text{
        padding: 50px;
        margin-top: 0;
    }
    #core-values{
        margin-top: 0;
    }
    #vision, #mission{
        margin-top: 20px;
    }
    footer{
        font-size: 0.8rem;
    }
}
/*NAVIGATION STYLING ENDS HERE*/ 

/*ALL PAGE TRANSITIONS STARTS*/
.slide-in-left{
    animation: slide-in-from-left 1s ease-in-out forwards;
    color: var(--red);
}
@keyframes slide-in-from-left{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
.slide-in-right{
    animation: slide-in-from-right 1s ease-in-out forwards;
    margin-top: 20px;
}
@keyframes slide-in-from-right{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
/*ALL PAGE TRANSITIONS ENDS*/
#vision, #mission{
    margin-top: 20px;
}
#core-values h3{
    color:var(--red);
}
footer{
    margin-top: 50px;
    text-align: center;
    height: 50px;
    padding: 15px;
    background: var(--grey);
    color:var(--white);  
}

/*Team Page Profile styling starts */
.profiles-container{
    display:block;
}
.profile-container{
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    margin-top: 200px;
    height: 400px;     
}
.info{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.profile-image img{
    height:200px;
    border-radius: 100px;  
    margin-top: 50px; 
}
.profile h2{
    color: var(--red);
}
.btn{
    width: 150px;
    height:50px;
    background: var(--red);
    border: 0;
    color: var(--white);
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}
.btn:hover{
    font-size:1rem;
    transform: scaleX(1.0);
}
.profile-details{
    margin-top: 20px;
    padding: 20px;
    text-align: justify;
    line-height: 20px;
    background: var(--red);
    color: var(--white);
    display: none;
}
.page-intro {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 40px;
}
.chairman{
    margin-top: 20px;
}
.kayode{
    margin-top: 270px;
}
.team-title{
    margin-top: 50px;
    font-size: 1.5rem;text-align: center;
    color: var(--red);
}
.management{
    margin-top: 350px;
}
.giovanni{
    margin-top: 20px;
}
.team-wrapper{
    margin-top: 80px;
}
.okeleye{
    margin-top: 270px;
}
/*team page desktop styling*/
@media screen and (min-width: 1200px){
    .info{
        display: flex;
        text-align: justify;
        justify-content: space-evenly;
    }
    .profile{
        margin-top: 100px;
    }
    .profiles-container{
        padding: 0 200px;
        
    }
    .profile-container{
        height: 300px;
        margin-top: 120px;
    }
    .kayode-image{
        margin-left: 0px; 
    }
    .chukwumankpam-profile{
        margin-right: -30px;
    }
    .giovanni-image{
        margin-left: -20px;
        
    }
    .giovanni-profile{
        margin-right: 120px;
        
    }
    .okeleye-profile{
        margin-right: -40px;  
    }
    .ekeoma-image{
        margin-left: -30px;
    }
    .ekeoma-profile{
        margin-right: 60px;
    }
    .femi-image{
        margin-left: -30px;
    }
    .femi-profile{
        margin-right: 120px;  
    }
    .emeka-image{
        margin-left: -50px;
    }
    .emeka-profile{
        margin-right: 30px;
    }
    .management{
        margin-top: 150px ;
    }   
}
/*Team Page Profile styling ending */
/*RETAIL/SERVICE-PAGES STYLING*/
.service-background img{
    background-size: cover;
    width: 100%;
    position: relative;
}
.service-logo{
    background: var(--white);
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 150px;
    border-radius: 0 0 100px 0;
}
.hero-thumbnail img{
    width: 40px;
}
.service-hero .page-title{
    color: var(--red);
}
.service-hero{
    line-height: 18px;
}
.service-hero h1{
    color:var(--red);
    font-size: 2rem; 
}
.service-hero h2{
    color:var(--grey);
    font-size: 1.2rem;
}
.service-logo img, .service-hero h1, .service-hero h2{
    text-align: center;
    margin: 10px 20px;
}
.red-box{
    background-color: var(--red);
    width: 50px;
    height: 50px;
    position: relative;
    float: right;
    margin-top: -53px;
    border-top-left-radius: 30px;
}
.empower-thumbnail{
    margin: 10px 20px;
}
.quote{
    background: var(--red);
    text-align: center;
    height: 150px;
    width: 300px;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    padding: 20px;
    border-radius: 30px;
}
.quote-thumbnail img{
    width: 40px;
}
.quote h2{
    padding: 20px;
    color:var(--white);
}
.city-scape{
    margin-top: 50px;
    background-size: cover;
    width: 100%;
}
.empower-red-box{
    margin-top: -54px;
    position: relative;
    background-color: var(--red);
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 30px 0 0 0;
}
.objectives{
    background-color: var(--coldblue);
    width: 100%;
    height: 330px;
    margin-top: -4px;   
}
.objectives-head{
    display: flex;
    justify-content: space-between;
}
.objective-thumbnail img{
    width: 40px;   
}
.objectives h2{
    color: var(--red);
    background-color: var(--white);
    width: 200px;
    height: 40px;
    border-radius: 0 0 30px 0;
    text-align: center;
    padding: 3px;
}
.objectives-list{
    color:var(--white);
    justify-content: center;
    margin:0 auto;
    padding: 0 100px;
    margin-top: 20px;
    line-height: 20px;
    font-size: 1rem;
}
.objectives-list li{
    list-style: none;
}
.objectives-list li::before{
    content: "\25B6";
    color: var(--red);
}
.objectives-red-box{
    position: relative;
    background-color: var(--red);
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 30px 0 0 0;
}
.paradigm-thumbnail img{
    width:40px;
}
.fund-management-pic{
    width:100%;
    position:relative;
}



.fund-management-thumbnail{
    right:0;
    margin-top: 5px;
    margin-right: 50px;
    position: absolute;
    z-index:2;
}
.fm-red-box{
    background-color: var(--red);
    width: 50px;
    height: 50px;
    border-radius:  0 30px 0 0;
    margin-top: -53px;
    position: relative;
    z-index: 1;
}
.fm-text{
    height: 100px;
    background-color:var(--grey);
    margin-top: 0;
    text-align: center;
    padding: 30px;
    color: var(--white);
    font-size: 1.2rem;
}
.text-box{
    position: absolute;
    top:30px;
       
}
.text-box h1{
    font-size: 2.2rem;
    color:var(--white);
}
.text-box h2{
    font-size: 2rem;
    color: var(--white);
}
.text-box p{
    background: var(--grey);
    height:100px;
    font-size: 1rem;
}
.reserve-funds{
    background-color: var(--coldblue);
    width: 100%;
    height: 510px;
    margin-top: -4px; 
}
.rf-text, .rf-benefits, .rf-features{
    color:var(--white);
    padding: 30px;
}
.rf-benefits h3, .rf-features h3{
    color: var(--red);
}
.rf-benefits, .rf-features{
    margin-top: -13px;
}
.rf-red-box{
    background-color: var(--red);
    width: 50px;
    height: 50px;
    border-radius:  0 30px 0 0;
    position: relative;
    z-index: 1;
    margin-top: -14px;
}
.icash-red-box{
    margin-top: 5px;
}
.slip-fund{
    height:700px;
}
.camo-hood{
    text-align: center;
    margin-top: 20px;
}
.camo-hood img{
    height:350px;
    display: none;
}
.merit_fund{
    background-color: var(--coldblue);
    height:500px;
}

.merit-fund-info{
    color: var(--white);
    padding: 20px;
}
.merit-fund-info ul{
    list-style: none;
}
.merit-fund-info h3 {
    color: var(--red);
    
}
.plush-fund{
    display: inline-block;
}
.pf-wrap{
    margin-top: 100px;
}
.pfl-text,table{
    color: var(--white);
    margin-top: 20px;
}
table{
    word-spacing: 10px;
}
.slip-fund{
    height:500px;
}
.slip-fund h2{
    border-radius: 0 0 0 30px;
    color:var(--black);
    background-color: var(--red);
}
.sf-red-box{
    margin-top: 38px;
}
.etf-benefits h3, .etf-keyfacts h3{
    color: var(--red);
}
.edu-trust-fund{
    display: block;
    text-align: justify;
    padding: 0px;
    color: var(--white);
}
.etf-wrap{
    background: var(--grey);
    height: 250px;
    padding: 10px;
}
.etf-second-wrap h2{
    background: var(--red);
    height: 50px;
    padding:10px 20px;
    color: var(--white);
    text-align: justify;
}
.etf-second-wrap{
    background: var(--darkgrey);
}
.etf-second_wrap p{
    padding: 10px;
    margin-top: 10px;
}
.etf-second_wrap img{
    padding: 35px;
}
.contact-section{
    background-image:url(/images/footer-bg.webp) ;
    background-repeat:no-repeat ; 
    background-size: contain; 
    height:1000px;  
}
.contact-head{
    display: flex;
    background: var(--white);
    height: 50px;
    width: 320px;
    border-radius: 0 0 30px 0;
}
.contact-head h2{
    margin-top: 10px;
    margin-left: 10px;
}
.contact-head h2 span{
    color: var(--red);
}
.contact-section-list{
    padding: 20px;
    color: var();
    font-size: 0.6rem;
}
.contact-section-list ul li{
    list-style: none;
}
.contact-section-list ul li::before{
    content: "\25B6";
    color:var(--red)
}
.retail-links{
    margin-top:0;
}
body .grey-background{
    background-color: var(--darkgrey);
}
body .black-background{
    background-color: var(--black);
}
.contact-links{
    display:none;
}
/*RETAIL AND SERVICES PAGE MEDIA STYLING*/
@media screen and (min-width: 600px){
    .paradigm-thumbnail img{
        width:150px;
    }
    .service-logo{
        width: 1320px;
        height: 600px;
        border-radius: 0 0 300px 0;
    }
    .service-hero{
        line-height: 100px;
    }
    .service-hero h1{
        font-size: 8rem; 
        margin-top: 70px;
    }
    .service-hero h2{
        color:var(--grey);
        font-size: 5rem;
    }
    .hero-thumbnail img{
        width:150px;
    }
    .red-box{
        width: 200px;
        height: 150px;
        margin-top: -153px;
    }
    .quote{
        height: 150px;
        width: 500px;     
    }
    .quote h2{
        font-size: 2rem;
    }
    .quote-thumbnail img{
        width:150px;
    }
    .empower-red-box{
        width: 200px;
        height: 150px;
        margin-top: -153px;
    }
    .objectives{
        background-color: var(--coldblue);
        width: 100%;
        height: 500px;      
    }
    .objective-thumbnail img{
        width: 150px; 
    }
    .objectives h2{
        width: 620px;
        height: 100px;
        border-radius: 0 0 60px 0;
        font-size: 60px;
    }
    .objectives-red-box{
        width:200px;
        height:150px;
        margin-top: 32px;
    }
    .objectives-list{
        color:var(--white);
        justify-content: center;
        margin:0 auto;
        padding: 0 100px;
        margin-top: 20px;
        line-height: 40px;
        font-size: 1.3rem;
    }
    
    .fm-red-box{
        width:200px;
        height:150px;
        margin-top: -150px;
    }
    .fm-retail-wrap .fm-retail-text h1, .fm-retail-wrap .fm-retail-text h2{
        color:var(--white);
    }
    .pr-wrap .pr-text h1, .pr-wrap .pr-text h2{
        color: var(--coldblue);
    }
    .cp-wrap .cp-text h1, .cp-wrap .cp-text h2{
        color: var(--black);
    }
    .cp-wrap .cp-text h1{
        padding:0 200px;
        color: var(--white);
        background: var(--black);
    }
    .text-box{
        position: absolute;
        top:80px;
        text-align: center;   
    }
    .text-box h1{
        font-size: 5rem;
        color:var(--darkgrey);
        margin-top: -20px;
    }
    .text-box h2{
        font-size: 3rem;
        color: var(--darkgrey);
    }
    .text-box p{
        background: var(--grey);
        height:200px;
        margin-top: 300px;
        padding: 40px 200px;
        font-size: 2rem;
    }
    .fm-wrap img{
        width:100%;
        
    }
    .fm-wrap h1{
        font-size: 3rem;    
    }
    .merit-fund{
        display: inline-block;
    }
    .rf-text, .rf-benefits, .rf-features{
        font-size: 1.3rem ;
    }
    .rf-red-box{
        width:200px;
        height:150px;
        margin-top: 20px;
    }
    .icash-red-box{
        margin-top: 20px;
    }
    .slip-fund{
        height:500px;
    }
    .slip-fund h2{
        border-radius: 0 0 0 60px;
    }
    .sf-red-box{
        margin-top:25px ;
    }
    .edu-trust-fund{
        display: flex;
        justify-content: space-between;
    }
    .etf-wrap{
        width: 800px;
        height:600px;
    }
    .etf-wrap h3,.etf-wrap ul li, .etf-wrap p{
        font-size:1.3rem ;
    }
    .etf-wrap h3{
        font-weight: bold;
    }
    .etf-wrap ul {
        margin-top: 20px;
    }
    .key-facts{
        margin-top: 20px;
    }
    .key-facts p{
        margin-top: 10px;
    }
    .etf-second-wrap{
        width: 800px;
    }
    .etf-second-wrap h2{
        text-align: center;
        font-size: 2rem;
        padding: 5px;
    }
    .etf-second-wrap p{
        font-size:1.3rem ;
    }
    .contact-section{
        background-image:url(/images/footer-bg.webp) ;
    }
    .contact-head{
        width: 620px;
        height: 100px;
        border-radius: 0 0 60px 0;
        font-size: 1.6rem;
        padding: 10px;
    }
    .contact-section-list ul li{
        color:var(--red);
        font-size:2rem;
    }
    .retail-links{
        margin-top:0;
    }
    .merit-fund{
        display: flex;
        justify-content: space-around;
    }
    .merit_fund{
        height:650px;
    }
    .camo-hood img{
        height:750px;
        display: block;
    }
    .merit-fund-info{
        color:var(--white);
        width: 500px;
        margin-top: 0;
    }
    .merit-fund-info h3 {
        color: var(--red);
        font-size: 1.5rem;
    }
    .merit-fund-info p{
        font-size: 1.3rem;
    }
    .mf-benefits ul{
        list-style: none;
        font-size: 1.3rem;
    }
    .mf-benefits,.mf-key-facts{
        margin-top: 30px;
    }
    .plush-fund{
        height:700px;
    }
    .plush-fund h2{
        width: 1320px;
        border-radius: 0 0 0 60px;
        color: var(--white);
    }

    .pf-wrap{
        margin-top: 0;
    }
    .white-beard-man img{
        height: 900px;
    }
    .pfl-text{
        font-size: 1.5rem;
        color: var(--white);
        text-align: justify;
        padding:10px 200px;
    }
    .table{
        color:var(--white);
        font-size:1.3rem ;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        padding:20px;
    }
    th, td{
        border: 1px solid var(--white);
        padding: 8px;
        text-align: left;   
    }
    .corporate-redbox{
        margin-top: 35px;
    }
    .service-hero .page-title{
        color: var(--red);
    }
    .contact-links{
        margin-top: -180px;
        display: block;
    }
}

