@media screen and (min-width: 1000px){
     .wrapper{
        text-align: left;
        margin: 70px 0 0 50px ;
     }
     .hero-image{
        margin-top: 50px;
     }
     
     h1{
        font-size: 4rem;
     }
     .frontpage_wrapper{
        margin-top: 300px;
     }
     .card-holder-section{
        display:flex;
        justify-content: space-evenly;    
     }
     .card{
        margin-top: auto;
        text-align: center;
     }
     footer{
      display: none;
     }

}


