@media screen and (min-width: 1000px){
     .wrapper{
        text-align: left;
        margin: 70px 0 0 50px ;
     }
     .hero-content{
        display: flex;
     }
     .hero-image{
        margin-top: 50px;
     }
     .lady-image{
      position:relative;
   }
     .hero-text{
        margin-top: 100px;
        margin-left: -500px;
        animation: slideInRight 4s forwards;
        position: absolute;
        display: none;
     }
     @keyframes slideInRight {
        from {
            transform: translateX(600%);
        }
        to{
            transform: translateX(0);
        }
     }
     h1{
        font-size: 4rem;
     }
     
     .frontpage_wrapper{
        margin-top: 300px;
     }
     .card-holder-section{
        display:flex;
        justify-content: space-evenly;    
     }
     .card{
        margin-top: auto;
        text-align: center;
     }
     footer{
        display: none;
     }

}


