/*Top Navigation Styling Starts*/
.logo{
    width: 300px;
    height: 120px;
}
.top-nav{
    display: flex;
    justify-content: space-between;
}
/*button styling*/
.loan-btn{
    margin-top: 3px;
    background-color: var(--red);
    border: 0;
    height:50px;
    width:150px;
    color: var(--white);
    transition: all 0.5s ease-in-out;
}
.loan-btn:hover{
    padding-left: 10px;
    padding-right: 25px;
}
.btn-text{
    margin-left: 8px;
    font-size: 1rem;
}
/*button styling ends*/
/*Top Navigation Styling ends*/




@media screen and (max-width: 600px){
    
}
