@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); 

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
img{
    max-inline-size: 100%;
    block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/ 

}
:root{
    --red:hsl(10, 86%, 49%);
    --black:hsl(0, 0%, 12%);
    --grey:hsl(0, 0%, 38%);
    --white:hsl(0, 0%, 100%);
    --green:rgb(7, 181, 39);
    --blue:rgb(29, 14, 126);
    --lightblue:rgb(0, 213, 255);
}
/*Top Navigation Styling Starts*/
.head{
    display: flex;
    justify-content: end;
}
/*Top Navigation Styling ends*/
html{
    width: 100%;
    height: auto;
}
h1{
    font-size: 3rem;
    animation:fadeIn 3s;
    color:var(--red);
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.hero-content{
    display: inline-block;
}
.hero-image{
    margin-top: 50px;
}
.hero-text{
    color:var(--red);
    font-size: 2rem;
    display:none;   
}
.frontpage_info_highlight{
    color:var(--red);
}
.card-holder-section{
    display: inline-block;   
}
.wrapper{
    margin: auto;
    text-align: center;
    color:var(--red)
}
.apply-btn{
    margin-top: 20px;
    background-color: var(--red);
    border: 0;
    height:50px;
    width:250px;
    color: var(--white);
    transition: all 0.5s ease-in-out;
}
.apply-btn:hover{
    padding-left: 25px;
    padding-right: 10px;
}
.btn-text{
    margin-right: 20px;
    font-size: 1rem;
}
.card-holder-section{
    margin-top: 120px;
}
.card-holder-section a{
    text-decoration: none;
}
.card{
    background: var(--white);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    border-radius: 10px 10px 0 0;
    width: 250px;
    height: 100px;
    transition: all 0.5s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.card p {
    margin-top: 30px;
    font-size: 25px;
    color:var(--grey);
    text-transform:capitalize;
}
.contact-card-info p{
    color:var(--red);
}
.card-info .bx{
    margin-top: 15px;  
    transition: all 0.5s ease-in-out;
    color: var(--red);
}
.card-info .bx:hover{
    transform: scale(1.08);
    
}
.line{
    height: 7px;
    border-radius: 10px 10px 0 0;
}
.red-line{
    background-color: var(--red);
}
.grey-line{
    background-color: var(--grey);
}
.green-line{
    background-color: var(--green);
}
.blue-line{
    background-color: var(--blue);
}
.black-line{
    background-color: var(--black);
}
.lightblue-line{
    background-color: var(--lightblue);
}
.history-card{
    margin-top: 30px;
}
.philosophy-card{
    margin-top: 30px;
}
.corporate-card{
    margin-top: 30px;
}
.contact-card{
    margin-top: 30px;
}
footer{
    margin-top: 50px;
    text-align: center;
    height: 50px;
    padding: 15px;
    background: var(--grey);
    color:var(--white);  
}

/*MEDIA DESKTOP*/
@media screen and (min-width: 1200px){
        .wrapper{
        text-align: left;
        margin: 70px 0 0 50px ;
    }
        .hero-image{
        margin-top: 50px;
    }
        .lady-image{
        position:relative;
    }
        .card-holder-section{
        display:flex;
        justify-content: space-evenly;    
    }
        .card{
        margin-top: auto;
        text-align: center;     
    }
    footer{
        text-align: center;
        height: 50px;
        padding: 15px;
        background: var(--grey);
        color:var(--white);
        
    }
}