/*Top Navigation Styling Starts*/
.logo{
    width: 300px;
    height: 120px;
}
.top-nav{
    display: flex;
    justify-content: space-between;
}
/*button styling*/
.loan-btn{
    background-color: var(--red);
    border: none;
    color: #fff;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 6px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    
}
.btn-text{
    margin-left: 10px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 16px;
}
.loan-btn:after{
    content: '';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
}
.loan-btn:hover{
    padding-right: 24px;
    padding-left:15px;   
}
/*button styling ends*/
/*Top Navigation Styling ends*/




@media screen and (max-width: 600px){
    
}
