*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica!important;

}
/*Frontpage info styling*/
.head .frontpage_info{
    max-width: 850px;
    margin-top: 15%;
    padding: 0 95px;
}
.head .frontpage_info h1{
    color: #FF0000;
    font-size: 60px;
    margin:15px 0;
}
.head .frontpage_info span{
    color: #FFF;
    font-size: 60px;
    margin:15px 0;
}
.head .frontpage_info p{
    color: #FFF;
    line-height: 1.6;
    font-size: 1.3rem;
    text-align: justify;
}

/*button styling*/
.btn{
    display: inline-block;
    padding: 15px 25px;
    margin-right:30px ;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 25px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    transition: all 0.5s ease;
}
.head .frontpage_info .btn-left{
    background: linear-gradient(to right, #FF0000,#651616 );
}
.head .frontpage_info .btn-right{
    background: linear-gradient(to right, #651616,#FF0000 );
}