@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); 

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
:root{
    --red:hsl(10, 86%, 49%);
    --black:hsl(0, 0%, 12%);
    --grey:hsl(0, 0%, 38%);
    --white:hsl(0, 0%, 100%);
}
body{
    background-image: url(/images/satisfied-client.png);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
   font-size: 3.3rem; 
   color: var(--red);
}

.card-holder-section{
    display:flex;
    justify-content: space-around;
    margin-top: 100px;
}
.card{
    background-color:var(--white);
    height: 100px;
    width: 300px;   
}
main .wrapper{
    max-width: 1620px;
    padding: 0 95px;
    position: absolute;
    margin-top: 200px;
}
.media-bar{
    position: relative;
    margin-top: 200px;
    
}
.frontpage_info_highlight{
    color:var(--white);
    font-weight: bolder;
}
.frontpage_info p{
    color: var(--white);
    font-size: 1.5rem;
}

