@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); 

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
img{
    max-inline-size: 100%;
    block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/ 

}
:root{
    --red:hsl(10, 86%, 49%);
    --black:hsl(0, 0%, 12%);
    --grey:hsl(0, 0%, 38%);
    --white:hsl(0, 0%, 100%);
}
.nav-wrapper{
    position:relative;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    padding: 0 25px;
    transition: 0.3s;
}
.top-nav{
    display: inline-flex;
}
.top-nav ul{
    display: flex;
    list-style: none;
    z-index: 1;
    transition: 0.5s;
}
.top-nav ul li a{
    text-decoration: none;
    color: var(--red);
    display:block;
    padding:40px 45px;
    font-size: 18px;
    transition: 0.3s;
}
.top-nav ul li a:hover{
    box-shadow: 0 -5px 0px var(--red) inset, 500px 0 0 rgba(150, 38, 38, 1) inset;
    padding:35px 25px 45px 25px;
    color: var(--white);
}
.hamburger{
    position: relative;
    width: 30px;
    height:4px;
    background: var(--red);
    border-radius: 10px;
    cursor:pointer;
    z-index: 2;
    transition: 0.3s;
    margin-top: 49px;
}
.hamburger::before, .hamburger::after{
    content:"";
    position: absolute;
    height: 4px;
    right:0;
    background: var(--white);
    border-radius: 10px;
    transition:0.3s;
}
.hamburger::before{
    top:-10px;
    width: 30px;
}
.hamburger::after{
    top: 10px;
    width: 30px;
}